<h1>Your Workout Routine:</h1>

<style>
	table, th, td {
		border: 1px solid black;
	}

</style>

<table>
	<tr>
		<th>ID</th>
		<th>Workout Name</th>
		<th>Number of Reps</th>
		<th>Weight Done</th>
		<th>Date Performed</th>
		<th>Unit of Measurement</th>
	</tr>


<p>{{results}}</p>